body{
    background: gray;
}

td{
    padding: 10px;
}

.box__table{
    width: 340px;
    margin: 40px auto;
}

.box__name{
    font-size: 48px;
    padding-top: 20px;
    text-align: center;
}

.red{
    background-color: red;
}