body{
    background: gray;
}

td{
    /* padding: 10px; */
    text-align: center;
    width: 40px;
    height: 40px;
}

.box__table{
    margin: 40px auto;
}

.box__name{
    font-size: 48px;
    padding-top: 20px;
    text-align: center;
}

.box__name{
    font-size: 48px;
    text-align: center;
}

.yellow{
    background-color: #f7ad00;
}

.blue{
    background-color: #004e8c;
}

.white{
    background-color: #f3fffd;
}